#sector-navbar {
	min-width: 5.4em;
}
#sector-nav li {
	width: 100%;
	text-align: center;
}
#sector-nav li .fa {
	width: 100%;
}
@media only screen and (max-width: 810px){
	#post-view{
		width: 80%;
	}
	#author-view{
		min-width: 15.4em;
		display: block;
	}
}
.ink-navigation{
	padding-bottom: 10px;
	padding-right: 25px;
}

#post-view {
	height: 50px;
}
#author-view {
	height: 50px;
	max-width: 300px;
}
#post-type {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#post-title {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#post-more {
	left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#trusted {
	font-size: 10px;
	padding-top: 1px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
#respect {
	font-size: 10px;
	padding-top: 1px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
#author {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#author-pic {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#author-more {
	left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}