#sector-nav li {
	width: 100%;
	text-align: center;
}
#sector-nav li .fa {
	width: 100%;
	size: 20em;
}
#upvote {
	margin-left: 40px;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-right: 10px;
	padding-left: 10px;
	border-top-width: 0px;
}
#downvote {
	margin-left: 0px;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-right: 10px;
	padding-left: 10px;
	border-top-width: 0px;
}
#post_type {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#post_title {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#post_more {
	left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#trusted {
	font-size: 10px;
	padding-top: 1px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
#respect {
	font-size: 10px;
	padding-top: 1px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
#author {
	width: 183px;
	padding-right: 20px;
	border-right-width: 1px;
}