<title>Hyphaelia.io</title>

<!-- ink framework meta shit -->
<meta charset="utf-8">
<meta name="author" content="kurotetsuka">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!-- ink framework css includes -->
<link rel="stylesheet" type="text/css" href="/lib/ink/css/ink-flex.min.css">
<link rel="stylesheet" type="text/css" href="/lib/ink/css/font-awesome.min.css">

<!-- hyphaelia css includes -->
<link href="/css/main.css" rel="stylesheet">
<link rel="shortcut icon" href="/img/hyph_16x16.png">
<link rel="shortcut icon" href="/img/hyph_24x24.png">
<link rel="shortcut icon" href="/img/hyph_32x32.png">
<link rel="shortcut icon" href="/img/hyph_64x64.png">

<!-- ink framework js includes -->
<script type="text/javascript" src="/lib/ink/js/modernizr.js"></script>
<script type="text/javascript">
	Modernizr.load({
		test: Modernizr.flexbox,
		nope : '/lib/ink/css/ink-legacy.min.css'});
</script>

<script type="text/javascript" src="/lib/ink/js/holder.js"></script>
<script type="text/javascript" src="/lib/ink/js/ink-all.min.js"></script>
<script type="text/javascript" src="/lib/ink/js/autoload.js"></script>

<!-- jquery includes -->
<script type="text/javascript" src="/lib/jquery-1.11.1.min.js"></script>

<!-- hyphaelia js includes -->
<script type="text/javascript" src="/js/back.js"></script>
