<!DOCTYPE html>
<html lang="en">
<head>
	<%= @head %>
	<link href="/css/index.css" rel="stylesheet">
</head>
<body>
	<!-- page content start -->
	<!--[if lte IE 9 ]>
	<div class="ink-alert basic" role="alert">
		<button class="ink-dismiss">&times;</button>
		<p>
			<strong>Get a better browser, son.</strong>
			( <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience, and make this page look half-decent. )
		</p>
	</div>
	<![endif]-->

	<div class="ink-grid">
		<div class="column-group push-center">
			<div class="xlarge-60 large-70 medium-80 small-90 tiny-100">
				<div class="column">
					<h1><a href="/">Hyphaelia.io</a></h1>
					<p>The Secure, Distributed Communication Platform</p>
				</div>
			</div>
		</div>
	</div>
	<!-- content stuff -->

	<!-- page content end -->
</body>
</html>
