<!DOCTYPE html>
<html lang="en">
<head>
	<%= @head %>
	<link href="/css/index.css" rel="stylesheet">
</head>
<body>
	<!-- page content start -->
	<!--[if lte IE 9 ]>
	<div class="ink-alert basic" role="alert">
		<button class="ink-dismiss">&times;</button>
		<p>
			<strong>Get a better browser, son.</strong>
			( <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience, and make this page look half-decent. )
		</p>
	</div>
	<![endif]-->

	<div class="ink-grid">
		<div class="column-group push-center">
			<div class="xlarge-60 large-70 medium-80 small-90 tiny-100">
				<!-- title -->
				<div class="column">
					<h1 class="title"><a href="/">Hyphaelia.io</a></h1>
					<span class="tagline">
						The Secure, Distributed Communication Platform
					</span>
				</div>
				<!-- nav links -->
				<div></div>
				<!-- about section -->
				<div class="column-group">
					<h2><a href="/">About</a></h2>
					<div class="xlarge-50 large-50 medium-50 small-50 tiny-50">
						about paragraph 1
					</div>
					<div class="xlarge-50 large-50 medium-50 small-50 tiny-50">
						about paragraph 2
					</div>
				</div>
				<!-- login/register -->
				<div class="column-group">
					<div class="xlarge-50 large-50 medium-50 small-50 tiny-50">
						login
					</div>
					<div class="xlarge-50 large-50 medium-50 small-50 tiny-50">
						register
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content stuff -->

	<!-- page content end -->
</body>
</html>
