<!DOCTYPE html>
<html lang="en">
<head>
	<%= @head %>
	<link href="/css/sector.css" rel="stylesheet">
</head>
<body>
	<!--[if lte IE 9 ]>
	<div class="ink-alert basic" role="alert">
		<button class="ink-dismiss">&times;</button>
		<p>
			<strong>Get a better browser, son.</strong>
			( <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience, and make this page look half-decent. )
		</p>
	</div>
	<![endif]-->

	<div class="ink-grid">
		<!-- header -->
		<div class="column-group">
			<!-- welcome -->
			<div class="all-100">
				<div class="push-left hide-small hide-tiny">
					<nav class="ink-navigation">
						<ul class="menu horizontal black">
							<li><a href="#">Welcome to Hyphaelia!</a></li>
						</ul>
					</nav>
				</div>
				<!-- end welcome -->
				<!-- user menu -->
				<div class="push-right">
					<nav class="ink-navigation">
						<ul class="menu horizontal black">
							<li><a href="#">
								<span class="fa fa-rocket">&nbsp; Username</span>
							</a></li>
							<li><a href="#">
								<span class="fa fa-envelope"></span></a>
							</li>
							<li><a href="#">
								<span class="fa fa-cog"></span></a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-carat-down"></span></a>
									<ul class="submenu dropdown">
										<li><a href="#">Settings</a></li>
										<li><a href="#">Logout</a></li>
										<li><a href="#">Help</a></li>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- end user menu -->
			<div class="vertical-space"></div>
			<!-- hub / sector / ranking method nav -->
			<div class="push-left">
				<h1>Kurohub::nullsec::top</h1>
			</div>
			<!-- end hub / sector / ranking method nav -->
		</div>
		<!-- end header -->

		<div class="column-group">
			<!-- sector nav sidebar -->
			<div class="control all-10 small-10 tiny-10 push-left">
				<nav id="sector-nav" class="ink-navigation">
					<ul class="menu horizontal black">
						<li><a href="/s/null">
							<span class="fa fa-rocket fa-lg fa-fw"></span>
							Null
						</a></li>
						<li><a href="/s/env">
							<span class="fa fa-leaf fa-lg fa-fw"></span>
							Enviro
						</a></li>
						<li><a href="/s/pol/">
							<span class="fa fa-institution fa-lg fa-fw"></span>
							Politics
						</a></li>
						<li><a href="/s/sci">
							<span class="fa fa-flask fa-lg fa-fw"></span>
							Science
						</a></li>
						<li><a href="#">
							<span class="fa fa-trophy fa-lg fa-fw"></span>
							Sports
						</a></li>
						<li><a href="/s/tec">
							<span class="fa fa-terminal fa-lg fa-fw"></span>
							Tech
						</a></li>
					</ul>
				</nav>
			</div>
			<!-- end sector nav sidebar -->
			<!-- motes view -->
			<div class="all-80">
				<div class="ink-grid">
					<div class="column-group horizontal-gutters">
						<div class="all-60" id="postview">
							<button class="ink-button" id="post_title">
								<span class="fa fa-file-text-o"></span>
								&nbsp; [Title/description of post]
								<button class="ink-button" id="post_more">
									<span class="fa fa-ellipsis-v"></span>
								</button>
							</button>
							<br>
							<button class="ink-button" id="upvote">
								<span class="fa fa-chevron-up"></span>
							</button>
							<button class="ink-button" id="downvote">
								<span class="fa fa-chevron-down"></span>
							</button>
						</div>
						<div class="all-40" id="authorview">	
							<button class="ink-button" id="author">
								<span class="fa fa-user"></span>
								&nbsp; [Author of post]
							</button>
							<br>
							<button class="ink-button" id="respect">
								Respect: 654
							</button>
							<button class="ink-button" id="trusted">
								Trusted: 123
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end motes view -->
			<!-- hyphaelia.io watermark -->
			<div id="hyph-watermark" class="all-10">

			</div>
			<!-- end hyphaelia.io watermark -->
		</div>
	</div>
</body>
</html>
